html {
    background: rgb(255, 255, 255);
    font-family: 'PT Mono', monospace;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
}

.calculator {
    height: 550px;
    width: 410px;
    border: thin solid black;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 0 0 20px grey;
}

.display-container {
    height: 70px;
    width: 360px;
    background-color: white;
    border: thin solid black;
    margin: 20px auto auto auto;
    padding: 5px;
}

#display {
    font-size: 65px;
    text-align: end;
}

.button-row {
    margin: 15px 0px 0px 16px;
    width: 385px;
}

.button-wrapper {
    display: flex;
    margin: auto;
}

.numpad-container {
    margin: 0px 0px 0px 15px;
    width: 290px;
}

.button-column {
    display: flex;
    flex-direction: column;
}

button {
    height: 80px;
    width: 85px;
    margin: 1px;
    font-size: 20px;
    background: white;
    border: thin solid grey;
    border-radius: 10px;
}

button:hover {
    background: lightgray;
}

.operator {
    background:rgb(165, 207, 255);
}
.operator:hover {
    background:rgb(146, 183, 224);
}
.config {
    background: rgb(250, 204, 229);
}
.config:hover {
    background: rgb(219, 177, 200);
}